USE [master]
GO
/****** Object:  Database [Senior2]    Script Date: 1/10/2021 8:05:49 PM ******/
CREATE DATABASE [Senior2]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Senior2', FILENAME = N'D:\SqlData\Senior2.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Senior2_log', FILENAME = N'D:\SqlData\Senior2_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Senior2].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Senior2]
GO
/****** Object:  Table [dbo].[Blacklist]    Script Date: 1/10/2021 8:05:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Blacklist](
	[BlacklistID] [bigint] IDENTITY(1,1) NOT NULL,
	[LicensePlateID] [bigint] NOT NULL,
	[Remark] [nvarchar](500) NOT NULL,
 CONSTRAINT [PK_Blacklist] PRIMARY KEY CLUSTERED 
(
	[BlacklistID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LicensePlate]    Script Date: 1/10/2021 8:05:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LicensePlate](
	[LicensePlateID] [bigint] IDENTITY(1,1) NOT NULL,
	[LicensePlate] [nvarchar](10) NOT NULL,
	[EnterDate] [date] NOT NULL,
	[EnterTime] [time](7) NOT NULL,
 CONSTRAINT [PK_LicensePlate] PRIMARY KEY CLUSTERED 
(
	[LicensePlateID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 1/10/2021 8:05:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[UserID] [bigint] IDENTITY(1,1) NOT NULL,
	[Username] [nvarchar](50) NOT NULL,
	[Password] [nvarchar](50) NOT NULL,
	[Firstname] [nvarchar](50) NOT NULL,
	[Lastname] [nvarchar](50) NOT NULL,
	[UserType] [nvarchar](20) NOT NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Blacklist]  WITH CHECK ADD  CONSTRAINT [FK_LicensePlate_Blacklist] FOREIGN KEY([LicensePlateID])
REFERENCES [dbo].[LicensePlate] ([LicensePlateID])
GO
ALTER TABLE [dbo].[Blacklist] CHECK CONSTRAINT [FK_LicensePlate_Blacklist]
GO
USE [master]
GO
