<html>

<head>
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
    <title>Index</title>
</head>

<body>
    <h2>Blacklist Record</h2>
    <table id="t01">
        <tr>
            <th>BlackListId</th>
            <th>LicensePlateId</th>
            <th>LicensePlate</th>
            <th>EnterDate</th>
            <th>EnterTime</th>
            <th>Remark</th>
        </tr>

        <tr>
            <td>1</td>
            <td>3</td>
            <td>4กด29</td>
            <td>2021-01-10</td>
            <td>19:45:00.0000000</td>
            <td>ใช้แบงค์ปลอม</td>
        </tr>
        <tr>
            <td>2</td>
            <td>4</td>
            <td>4กต29</td>
            <td>2021-01-10</td>
            <td>19:50:00.0000000</td>
            <td>เติมน้ำมันผิด</td>
        </tr>
    </table>
</body>

</html>