<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Website Title -->
    <title>Transaction</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link href="{{url_for('static', filename='style.css')}}" rel="stylesheet">
</head>


<body>
    <!-- Preloader -->
    <div class="spinner-wrapper" style="display: none;">
        <div class="spinner">
            <div class="bounce1"></div>
            <div class="bounce2"></div>
            <div class="bounce3"></div>
        </div>
    </div>
    <!-- end of preloader -->

    <h1 style="margin-top: 2%; margin-bottom: 0.80rem">Car entries Record</h1>
    <table id="t01">
        <tr>
            <th>LicensePlateID</th>
            <th>LicensePlate</th>
            <th>LastEnterDate</th>
            <th>LastEnterTime</th>
            <th>Remark</th>
        </tr>

        <tr>
            <td>1</td>
            <td>ฌง5289</td>
            <td>2021-01-10</td>
            <td>19:39:00.0000000</td>
            <td><button class="btn-outline-sm">ADD</button></td>
        </tr>
        <tr>
            <td>2</td>
            <td>ณ8345</td>
            <td>2021-01-10</td>
            <td>19:40:00.0000000</td>
            <td><button class="btn-outline-sm">ADD</button></td>
        </tr>
        <tr>
            <td>3</td>
            <td>4กด29</td>
            <td>2021-01-10</td>
            <td>19:45:00.0000000</td>
            <td><button class="btn-outline-sm">ADD</button></td>
        </tr>
        <tr>
            <td>4</td>
            <td>4กต29</td>
            <td>2021-01-10</td>
            <td>19:50:00.0000000</td>
            <td><button class="btn-outline-sm">ADD</button></td>
        </tr>
    </table>
</body>

</html>